<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <% @menu.templates.each do |template| %>
      <h1><%= link_to template.name, menu_template_path(@menu, template) %></h1>
      <p><%= template.description %></p>
    <% end %>
  </div>
</div>