<%= @group.menus.to_json %>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <% @group.menus.each do |menu| %>
      <%= link_to menu.name, menu_path(menu) %>
    <% end %>
  </div>
</div>